@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aqua;
}

header {
    text-align: center;
    padding: 30px;
}

h1 {
    color: rgb(247, 60, 4);
}

section {
    background-color: aliceblue;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow : 3px 3px 10px rgba(0, 0, 0, 0.574);
}

#num {
    padding: 10px;
    text-align: center;
}

#inumero {
    width: 50px;
}

select {
    border: 1px solid black;
    width: 120px;
    margin: 10px 0px 10px 110px;
}

option {
    margin: 10px 0px 10px 10px
}

footer {
    color: rgb(163, 179, 192);
    margin: auto;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}