@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aqua;
}

header {
    text-align: center;
    padding: 30px;
}

h1 {
    color: rgb(247, 60, 4);
}

section {
    background-color: aliceblue;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow : 3px 3px 10px rgba(0, 0, 0, 0.574);
    padding: 10px;
}

#inicio {
    width: 70px;
}

#iinicio {
    padding: 10px;
}

#fim {
    width: 70px;
    margin-left: 10px;
}

#ifim {
    padding: 10px;
}#passo {
    width: 70px;
}

#ipasso {
    padding: 10px;
}

#icontar {
    margin-left: 70px;
}

footer {
    color: rgb(163, 179, 192);
    margin: auto;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}