@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkcyan;
}

header {
    text-align: center;
    padding: 10px;
}

section {
    background-color: white;
    margin: auto;
    width: 400px;
}

p {
    margin-left: 50px;
    padding-top: 20px;
}

#inum {
    width: 70px;
    border-radius: 5px;
}

#cx {
    border-radius: 5px;
    width: 100px;
}

#cx:hover {
    background-color: rgb(209, 240, 2);
    color: rgb(7, 8, 7);    
}

#cx:active {
    background-color: rgb(250, 5, 5);
}

select {
    margin: 20px;
    margin-left: 120px;
}

#itab {
    border-radius: 5px;
    width: 130px;
}

option {
    margin: 10px 0px 0px 15px;
}

footer{
    text-align: center;
    color: white;
}