@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(231, 217, 158);
    display: block;
}

header > h1 {
    color: aliceblue;
    padding: 10px;
    text-align: center;
}

main {
    width: 400px;
    height: 320px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 3px 3px 8px black;
}

main > h2 {
    text-align: center;
    padding: 10px;
}

main > img {
    margin-left: 70px;
}

footer {
    margin: auto;
    margin-top: 20px;
}

footer > p {
    text-align: center;
}